// Colors
$primary: #546e7a;
$primary_light: #819ca9;
$primary_dark: #232a30;

$text_color: #ffffff;

// Typography
$brand_font: 'Do Hyeon', sans-serif;
$main_font: 'Open Sans', sans-serif;

$tiny: 0.55em;
$small: 0.9em;
$normal: 1em;
$big: 1.50em;
$huge: 2.20em;

// Sizes
$padding: 20px;
$margin: 10px;
